.suggested-picture1{
  background-image: url("../img/DryCell.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;




}

.product-picture1 {
  background-image: url("../img/SingleUse.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}


/*  Pictures */

.suggested-picture2{
  background-image: url("../img/LithiumIon.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;
  color: #fff;


}

.product-picture2 {
  background-image: url("../img/LiIon.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}

/*  Pictures */

.suggested-picture3{
  background-image: url("../img/DryCell.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;
  color: #fff;


}

.product-picture3 {
  background-image: url("../img/NMH.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}

/*  Pictures */

.suggested-picture4 {
  background-image: url("../img/LithiumPrimary.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;
  color: #fff;


}

.product-picture4 {
  background-image: url("../img/lithiumMetal.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}

/*  Pictures */

.suggested-picture5 {
  background-image: url("../img/ButtonCell.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;
  color: #fff;


}

.product-picture5 {
  background-image: url("../img/ButtonCellProduct.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}

/*  Pictures */

.suggested-picture6 {
  background-image: url("../img/LeadAcid.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center;
  min-height: 300px;
  background-size:contain;
  color: #fff;


}

.product-picture6 {
  background-image: url("../img/SSLA.png");
  background-attachment:local;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size:contain;
  min-height: 300px;
}
