@media only screen and (max-width: 1100px) {
    .main-block {
        position: relative;
        max-width: 80% !important;
        min-width: 79% !important;
    }
}

@media only screen and (max-width: 930px) {
    .title {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .form-values {
        margin: 0;
    }
    .logo-holder {
        max-width: 300px !important;
    }
    .order-form-title {
        padding: 5px;
    }
    .main-block {
        position: relative;
        max-width: 95% !important;
        min-width: 95% !important;
        padding: 0.25rem !important;
    }
    .order-type--box label {
        min-width: 120px !important;
        min-height: 100px !important;
    }
}

@media only screen and (max-width: 767px) {
    .order-form-title p {
        margin-bottom: 1em;
    }
    .order-form-title h2 {
        font-size: 2rem !important;
    }
    .progress-nodes>ul>li>a {
        font-size: 0.8em;
    }
    .sub-item--ul a {
        opacity: 1;
        transform: rotate(45deg)translate(5px, -5px) !important;
        text-align: left;
    }
    .sub-item--ul>li.current a {
        transform: translate(-13px, -7px);
        transition: transform 0.2s ease;
        width: 50px;
        color: var(--cri-grey);
        opacity: 1;
    }
    .logo-holder {
        margin: auto !important;
        background-position: bottom !important;
    }
    .material-picker--wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .material-picker--selector {
        display: flex;
        justify-content: center !important;
        margin: 0.25em !important;
        height: 60px !important;
    }
    .material-picker--selector label>h2 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .logo-holder {
        display: none;
        max-width: 300px !important;
        margin: auto !important;
        text-align: center;
        background-position: center;
    }
    .big-list-hide {
        opacity: 0;
    }
    .site-info {
        grid-template-columns: 1fr  1fr!important;
        column-gap: 5px;
    }
    .button-section {
        /* flex-direction: column-reverse; */
        width: 100%;
        padding: 2em;
    }
    .material-picker--selector label {
        min-width: 300px !important;
    }
    .locations-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .locations-area>div {
        font-size: 0.65em;
    }
    .location-selector>label {
        width: 100px !important;
    }
    .site-info label {
        width: 97%;
        margin-left: 3px;
    }
    }
    @media only screen and (max-width: 400px) {
        .main-block {
            max-width: 99% !important;
            min-width: 99% !important;
            padding: 0rem !important;
        }
        .button-section {
            /* flex-direction: column-reverse; */
            width: 100%;
            padding: 0.25em;
            height: 100px;
        }
    }