/* #pane--holder {
    overflow-x: visible;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
} */

.single-pane {
    min-height: 300px;
    /* padding: 2em !important; */
    /* max-width: 90% !important; */
    transform: translate(100%, 0)scale(0.8);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 4em !important;
}

.current-pane {
    transform: translateX(0%)scale(1);
    display: block;
    padding-bottom: 15px;
    
    margin-left: auto !important;
    margin-right: auto !important;
}

.prev {
    width: 20%;
    display: inline-block;
    margin: 20px;
}