    :root {
        --selected: rgb(25, 148, 242);
        --cri-green: rgb(80, 208, 0);
        --cri-green2: rgb(0, 157, 5);
        --cri-blue2: rgb(0, 157, 193);
        --cri-grey: rgb(55, 55, 55);
        --cri-sub-green: green;
    }

    @fortawesome/free-solid-svg-icons @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
    }

    h1 {
        font-weight: 600;
        font-family: 'Nunito';
        font-size: 1.25em !important;
        font-weight: 800;
        font-family: 'Josefin Sans';
        margin-bottom: 0 !important;
    }

    h2 {
        font-size: 2.5em !important;
        font-family: 'Bebas Neue';
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.25em !important;
        color: white;
    }

    h3.confirm {
        font-size: 1.5em !important;
        color: #181818;
    }

    h2 {
        font-size: 2em;
    }

    section {
        /* padding: 1em; */
    }

    input[type=radio] {
        width: 20px !important;
        padding: 10px !important;
    }

    main {
        padding: 3em;
        background-color: #303030;
        margin-bottom: 100px;
        min-height: 100vh;
    }

    input {
        background-color: #ebebeb;
        border: none;
        margin: 2px !important;
    }

    input:hover {
        background-color: aliceblue;
    }

    select {
        width: 35%;
        margin: 0.5em !important;
        height: 30px;
        line-height: 2em !important;
    }


    .logo-holder {
        background-image: url("../logo.png");
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 1.5rem;
        background-position: top;
        min-height: 100px;
        max-width: 300px;
    }

    .radio {
        margin-left: 0.35em;
    }

    .form--header {
        text-align: center;
        margin-top: 0.75em;
        line-height: 0.5em;
    }

    @media only screen and (max-width: 767px) {
        main {
            padding: 0 !important;
        }
        .main-form {
            padding: 0 !important;
        }
        section {
            max-width: 100%;
            padding: 1em;
        }
        section.section--material {
            min-height: 500px;
            display: grid;
            /* column-gap: 20px; */
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas: "material-section--title material-section--title" "material--lamps material--batteries" "material--ewaste material--batteries" "material--hazardous material--ballast" "material--hazardous material--specialty";
        }
        .logo-holder {
            margin-left: auto;
            margin-right: auto;
            height: 80px !important;
        }
        .container--content>div {
            margin-top: 0.25em !important;
            padding: 0em !important;
        }
    }

    @media only screen and (max-width: 1000px) {
        section.section--material label {
            font-size: 0.85em !important;
        }
    }

    .section--title {
        width: 100%;
        height: 40px;
        color: white;
        font-size: 2em;
        line-height: 1.25em;
        text-align: center;
        background-color: black;
    }

    .section--contact input, .section--generator input {
        width: 100%;
    }

    .city-state {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 55% 20% 23%;
    }

    .pickup-delivery {
        width: 60%;
        font-size: 1.5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .pickup-delivery>input {
        margin-top: 0.4em !important;
    }

    .pickup-delivery>label {
        margin-right: 0.55em;
    }

    .main-form {
        max-width: 800px !important;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        /* border: 1px solid black; */
        padding: 2em;
    }

    .container--content input {
        height: 30px;
        width: 90%;
        border: none;
    }

    .container--content label {
        margin-top: 6px;
    }

    .container--content>div {
        /* margin-top: 1em;
    margin-bottom: 1em; */
        line-height: 1em;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-auto-rows: 35px;
        padding: 1em;
    }

    .section--material {
        background-color: #eeeeee;
        width: 100%;
        min-height: 600px;
        display: grid;
        /* column-gap: 20px; */
        grid-template-columns: repeat(3, minmax(80px, 1fr));
        grid-template-rows: 40px 2fr 2fr 2fr 1.5fr;
        grid-template-areas: "material-section--title material-section--title material-section--title" "material--lamps material--ballast material--batteries" "material--lamps material--hazardous material--batteries" "material--ewaste material--hazardous material--batteries" "material--ewaste material--specialty material--batteries";
    }

    section.section--material input {
        margin-top: 4px;
        height: 25px;
        border: none;
        background-color: rgb(228, 228, 228);
        border-bottom: 1px solid black;
    }

    section.section--material label {
        height: 25px;
        font-size: 80% !important;
        margin: 0;
        padding: 0;
        margin-top: 4px;
        margin-left: 1em;
        margin-bottom: 2px;
    }

    .material-section--title {
        background-color: black;
        color: white;
        font-size: 2em;
        line-height: 1.25em;
        text-align: center;
        grid-area: material-section--title;
    }

    .material--title {
        grid-column: 1/-1;
        height: 35px;
        padding-top: 3px;
        padding-left: 1em;
        background-color: rgb(70, 70, 70);
        /* margin-bottom: 0.5em; */
        /* margin-top: 0.5em; */
    }

    .material--title h2 {
        font-size: 1.5em;
        color: white;
        font-weight: 400;
    }

    .material--ballast {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--ballast;
    }

    .material--haz {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--hazardous;
    }

    .material--lamps {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--lamps;
    }

    .material--eWaste {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--ewaste;
    }

    .material--specialty {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--specialty;
    }

    .material--batteries {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-auto-rows: min-content;
        grid-area: material--batteries;
    }

    .site-info--checks {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .section--containers {}

    .section--site-info textarea {
        width: 100%;
    }

    .site-info--row {
        margin-top: 1em;
    }

    .section__submit {
        border-top: 1px dotted grey;
        position: fixed;
        bottom: 0%;
        z-index: 100;
        background-color: rgb(245, 245, 245);
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .section__submit>button#submit-form {
        border: none;
        min-width: 150px;
        padding: 0.5em;
        background-color: var(--cri-green);
        color: white;
        font-size: 1.5em;
    }

    .section__submit>button#go-back {
        border: none;
        min-width: 150px;
        padding: 0.5em;
        background-color: var(--cri-blue2);
        color: white;
        font-size: 1.5em;
    }

    /*-------------------------------------------------
                  Loading
  --------------------------------------------------*/

    .loading__container {
        margin-top: 2em;
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .loading--holder {
        position: relative;
        border-radius: 50px;
        width: 80%;
        height: 16px;
        background-color: grey;
    }

    .loading--progress {
        position: absolute;
        border-radius: 50px;
        transition: all 0.2s ease-in;
        height: 16px;
        background-color: rgb(23, 218, 81);
        animation: loading 0.8s infinite cubic-bezier(0.68, -0.55, 0.265, 1.25);
    }

    @keyframes loading {
        0% {
            width: 0%;
            background-color: rgb(141, 238, 170);
        }
        100% {
            width: 100%;
        }
    }